{{link-to "Start procedure" "procedure.step" model.id 0}}<br>

<div>
  Steps: {{model.stepsCount}}
</div>

{{#each model.steps as |step|}}
  {{#link-to 'procedure.step' model.id step}}Step {{step.id}}{{/link-to}}
{{/each}}
